.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

@keyframes slideUp {
  from { transform: translateY(30px)}
  to { transform: translateY(0)}
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out forwards;
}