@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fjalla+One&family=Lily+Script+One&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
.lily {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:  300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html.light {
  background-color: #f6e5c7; /* your beige light background */
  color: #000; /* default text color for light mode */
}

html.dark {
  background-color: #0f172a; /* dark navy/blue background */
  color: #f8fafc; /* default text color for dark mode */
}

/* Optional: Smooth transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Add to your global CSS file */
@keyframes infiniteHover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}

.animate-infinite-hover {
  animation: infiniteHover 2s ease-in-out infinite;
}

.animate-infinite-hover:hover {
  animation-play-state: paused;
}

@keyframes slideInFromRight {
  from {
    scale: 0.5;
    transform: translateX(600px);
  }
  to {
    transform: translateX(0px);
    scale: 1;
  }
}

.animate-slide-in-right {
  animation: slideInFromRight 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0;
}

@keyframes makeFromTop {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

.animate-make-from-top {
  animation: makeFromTop 0.8s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 0.8s ease-out forwards;
  min-height: 100vh;
  background-image: url("assets/BG_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


